.hover-hightlight-list {
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.hover-hightlight-list:hover {
    background-color: #f0f0f0; /* Example hover color */
    transform: scale(1.02); /* Slight scaling effect */
}

@keyframes spin {  
    from {  
      transform: rotate(0deg);  
    }  
    to {  
      transform: rotate(360deg);  
    }  
  }  
.reload-btn:hover{
    animation: spin 2s infinite;
}